body{
  background-image: url(https://st2.depositphotos.com/1002075/10394/v/950/depositphotos_103945814-stock-illustration-abstract-geometrical-3d-background-can.jpg);
}
 img {
 width:250px;
 display:inline-block;
 vertical-align:top;
 margin: 30px;
}

.descripcion {
 font-family: sans-serif;
 text-align:center;
 margin:50px;
 width:60%;
 display:inline-block;
 vertical-align:top;
 color:white;
 font-size: 30px;
}

.titulos {
 text-align:center;
 margin:30px;
 border:5px solid white;
 padding:0px;
}

.article {
 display:inline-block;
 width:70%;
 vertical-align:top;
}

.titulos h1 {
 font-size: 100px;
 color: white;
}

.titulos h2 {
 font-size: 60px;
 color: white;
}

.LogoFace {
 width: 50px;
 display:inline-block;
 margin: 30px;
}

.LogoInsta {
 width: 50px;
 margin: 30px;
 display: inline-block;
 vertical-align:
}

.RS {
 color:red;
 font-family: sans-serif;
 text-align: center;
 margin: 30px;
 border: 2px solid white;
 display: inline-block;
 width: 12%;
 padding: 5px;
