 img {
 width:250px;
 display:inline-block;
 vertical-align:top;
 margin: 30px;
}

.descripcion {
 color:green;
 font-family: sans-serif;
 text-align:center;
 margin:50px;
 width:60%;
 display:inline-block;
 vertical-align:top;
}

.titulos {
 text-align:center;
 margin:30px;
 border:5px solid black;
 padding:0px;
}

.links {
 color:blue;
 display:inline-block;
 width:50%;
}

.descripcion {
 color:black;
 font-family: sans-serif;
 text-align:center;
 font-size: 30px;
}

.article {
 display:inline-block;
 width:70%;
 vertical-align:top;
}

.titulos h1 {
 font-size: 100px;
 color: white;
}

.titulos h2 {
 font-size: 60px;
 color: black;
}

.LogoFace {
 width: 50px;
 display:inline-block;
 margin: 30px;
}

.LogoInsta {
 width: 50px;
 margin: 30px;
 display: inline-block;
 vertical-align:
}
